/*  header */

    h1 {
        font-family: 'Slackey', cursive;
        font-size: 80px;
        color: darkslategray
        }

    h1a {
        font-family: 'Slackey', cursive;
        font-size: 40px;
        color: red;
        font-weight: bold;
    }
        
/* header links  
       a:link {
        
        }
        a:visited {
            color: orange;
        }
        /*  mouse over link  
        a:hover {
            font-weight: bold;
            text-decoration: none;
        }
        a:active {
            text-decoration: none;
        }
        */

        .beverages {
            padding: 20px
        }

        /*  <center>
        <h1>Dawg Town</h1>
        </center>  */


     /*   <dv/>
        <hr>
        <a href="index.html">Home</a>&emsp;
        <a href="menu.html">Menu</a>&emsp;
        <a href="contact.html">Contact Us</a>
        <hr>  */

/* palette  */
/* RGB
$color1: rgba(80, 36, 25, 1);
$color2: rgba(126, 161, 114, 1);
$color3: rgba(199, 203, 133, 1);
$color4: rgba(231, 169, 119, 1);
$color5: rgba(235, 190, 155, 1);
 */

/*  Menu page  */
    .container {
        background-color:rgba(199, 203, 133, 1);
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
        color: red;
    }

    .row {
        font-size: sm;
        text-align: center;
        /*  font-weight: bold;  */
        color: black;
    }
    
    }
    table {
        background-color: lightgray;
    }

/*  footer  */
    <hr>
    <p>
    <center>
    Bardstown Road, Louisville, Kentucky, 40205
    <br>(502)502-5022
        </center>
    </p>